#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp C_VOL_DN &kp C_VOL_UP &mo 1
                &macro_paste_win &macro_cmd_plus_macos &macro_cmd_minus_macos
                &macro_modbox &macro_undo_win &macro_redo_win
            >;
        };

        bt_layer {
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1
                &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                &trans &studio_unlock &bootloader
            >;
        };

        extra1 {
            status = "reserved";
        };

        extra2 {
            status = "reserved";
        };

        extra3 {
            status = "reserved";
        };
    };

    macros {
        macro_modbox: macro_modbox {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp M &kp O &kp D &kp B &kp O &kp X &kp ENTER>;
        };

        macro_copy_win: macro_copy_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(C)>;
        };

        macro_paste_win: macro_paste_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(V)>;
        };

        macro_undo_win: macro_undo_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(Z)>;
        };

        macro_redo_win: macro_redo_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(Y)>;
        };

        macro_cmd_plus_macos: macro_cmd_plus_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(KP_PLUS)>;
        };

        macro_cmd_minus_macos: macro_cmd_minus_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(KP_MINUS)>;
        };

        macro_cut_win: macro_cut_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(X)>;
        };

        macro_select_all_win: macro_select_all_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(A)>;
        };

        macro_save_win: macro_save_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(S)>;
        };

        macro_save_as_win: macro_save_as_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(LS(S))>;
        };

        macro_new_win: macro_new_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(N)>;
        };

        macro_open_win: macro_open_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(O)>;
        };

        macro_find_win: macro_find_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(F)>;
        };

        macro_find_next_win: macro_find_next_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(G)>;
        };

        macro_replace_win: macro_replace_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(H)>;
        };

        macro_print_win: macro_print_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(P)>;
        };

        macro_bold_win: macro_bold_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(B)>;
        };

        macro_italic_win: macro_italic_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(I)>;
        };

        macro_underline_win: macro_underline_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(U)>;
        };

        macro_new_tab_win: macro_new_tab_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(T)>;
        };

        macro_close_tab_win: macro_close_tab_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(W)>;
        };

        macro_reopen_tab_win: macro_reopen_tab_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(LS(T))>;
        };

        macro_refresh_win: macro_refresh_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(R)>;
        };

        macro_duplicate_win: macro_duplicate_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(D)>;
        };

        macro_outdent: macro_outdent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LS(TAB)>;
        };

        macro_comment_win: macro_comment_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(FSLH)>;
        };

        macro_quit_app_macos: macro_quit_app_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(Q)>;
        };

        macro_switch_app_macos: macro_switch_app_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(TAB)>;
        };

        macro_spotlight_macos: macro_spotlight_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(SPACE)>;
        };

        macro_screenshot_macos: macro_screenshot_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(LS(N4))>;
        };

        macro_lock_screen_macos: macro_lock_screen_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(LC(Q))>;
        };

        macro_minimize_window_macos: macro_minimize_window_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(M)>;
        };

        macro_hide_app_macos: macro_hide_app_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(H)>;
        };

        macro_new_window_macos: macro_new_window_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(N)>;
        };

        macro_force_quit_macos: macro_force_quit_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(LA(ESC))>;
        };

        macro_zoom_reset_macos: macro_zoom_reset_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(N0)>;
        };

        /* --- VS Code shortcuts --- */

        // Command Palette
        macro_command_palette_win: macro_command_palette_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(LS(P))>;
        };

        macro_command_palette_macos: macro_command_palette_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(LS(P))>;
        };

        // Quick Open (Go to File)
        macro_quick_open_win: macro_quick_open_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(P)>;
        };

        macro_quick_open_macos: macro_quick_open_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(P)>;
        };

        // Toggle Integrated Terminal (same combo on both platforms)
        macro_toggle_terminal: macro_toggle_terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(GRAVE)>;
        };

        // Toggle Sidebar
        macro_toggle_sidebar_win: macro_toggle_sidebar_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(B)>;
        };

        macro_toggle_sidebar_macos: macro_toggle_sidebar_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(B)>;
        };

        // Format Document (same combo on both platforms)
        macro_format_document: macro_format_document {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LS(LA(F))>;
        };

        // Go to Definition (same key on both platforms)
        macro_go_to_definition: macro_go_to_definition {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp F12>;
        };

        // Rename Symbol (same key on both platforms)
        macro_rename_symbol: macro_rename_symbol {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp F2>;
        };

        // Quick Fix
        macro_quick_fix_win: macro_quick_fix_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(DOT)>;
        };

        macro_quick_fix_macos: macro_quick_fix_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(DOT)>;
        };

        // Split Editor
        macro_split_editor_win: macro_split_editor_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(BSLH)>;
        };

        macro_split_editor_macos: macro_split_editor_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(BSLH)>;
        };

        // Add Cursor Below (multi-cursor)
        macro_multi_cursor_down_win: macro_multi_cursor_down_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(LA(DOWN))>;
        };

        macro_multi_cursor_down_macos: macro_multi_cursor_down_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(LA(DOWN))>;
        };

        // Toggle Zen Mode (chord: primary modifier+K, then Z)
        macro_zen_mode_win: macro_zen_mode_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LC(K) &kp Z>;
        };

        macro_zen_mode_macos: macro_zen_mode_macos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp LG(K) &kp Z>;
        };
    };
};
